upstream meyer {
   server unix:///srv/www/projectenv/PROJECT/PROJECT/uwsgi.sock;
}

server {
    server_name project.lazu.app;
    charset utf-8;
    client_max_body_size 75M;
    location /media {
             alias /srv/media/meyer/;
    }

    location /static {
              alias /srv/static/meyer/;
    }

    location / {
             include uwsgi_params;
             uwsgi_pass meyer;
             uwsgi_read_timeout 300; 
    }

    server_name project.lazu.app www.project.lazu.app;


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/project.lazu.app/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/project.lazu.app/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = project.lazu.app) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name project.lazu.app;

    listen 80;
    server_name project.lazu.app www.project.lazu.app;
    return 404; # managed by Certbot


}